<div class="wrapper">	
	<header>
	  <div class="container">
		  <ul class="nav-list">
		    <li> <%= link_to ('About me'), '/#main' %></li>
		    <li> <%= link_to ('Works'), '/#design'  %></li>
		    <li> <%= link_to ('Skills'), '/#skills'  %></li>
		    <li> <%= link_to ('Benefits'), '/#benefits'  %></li>
		    <li> <%= link_to ('Contacts'), '/#contacts'  %></li>
		  	<div id="phones"> 
		      <span = t('phones.show')>+38 063 721 13 54</span>
		    </div>
		  </ul>
	  </div>
	</header>
	<section id="main" data-type="background" data-speed="10" class="pages">
		<div class="title">Hi, I am Tania</div>
		<div class="down-arrow fly">        
	</section>  
	<section id="white" class="hi-white">
		<div class="text-block">I created this site especially for you, my colleagues. <br>If you're 
		reading this, you are probably the representative one of 
		those companies I`m dreaming to work in.</div>
		<div class="text-block">
		I am young and ambitious web-designer, now I only starts my career, 
		that’s why I don't have great portfolio and big projects yet. 
		But by this site I want to show you what a know and what I can.</div>
	</section> 
	     
	<section id="design" data-type="background" data-speed="10" class="pages">
	<div class="title title-all">Design</div>
	</section>

	<section id="white" class="design-white">
		<div class="text-block">This volunteer project that we created in the framework of the
		training course  web-designer for soldiers <br>in need of prosthetics in the territory of Ukraine</div>
		<div class="folder" id="folder">
			<a href="https://drive.google.com/folderview?id=0By6ovQLLFwXjfnNZS3RMRDlCTkRVOGdhZWxuZ0RMNG1CV3RqMUxaeEdRYngxeEl5WWdiTGs&usp=sharing"></a>
		</div>
		<div class="look"><a id="look" href="https://drive.google.com/folderview?id=0By6ovQLLFwXjfnNZS3RMRDlCTkRVOGdhZWxuZ0RMNG1CV3RqMUxaeEdRYngxeEl5WWdiTGs&usp=sharing">Review</a></div>
	</section>

	<section id="skills" data-type="background-middle" data-speed="10" class="pages"> 
	<div class="title title-all">My skills</div>    
	</section>  

	<section id="white" class="white-skills">
		<div class="skills-wraper">
			<div class="photoshop">
				<div><span>75%</span></div>
				<span>Photoshop</span>
			</div>
			<div class="illustrator">
				<div><span>50%</span></div>
				<span>Illustrator</span>
			</div>
			<div class="sketch">
				<div><span>25%</span></div>
				<span>Sketch</span>
			</div>
			<div class="photography">
				<div><span>60%</span></div>
				<span>Photography</span>
			</div>
			<div class="css">
				<div><span>10%</span></div>
				<span>CSS/HTML</span>
			</div>
			<div class="ux">
				<div><span>40%</span></div>
				<span>UX/UI</span>
			</div>
			<div class="learn">
				<div><span>100%</span></div>
				<span>Ready to lean</span>
			</div>
			<div class="to_go">
				<div><span>100%</span></div>
				<span>Ready to go</span>
			</div>
		</div>
	</section>

	<section id="interests" data-type="background-middle" data-speed="10" class="pages">
	<div class="title title-all">Interests</div>
	</section>
	<section id="white" class="white800">
		<div class="white-benefits"></div>
	</section>

	<section id="benefits" data-type="background-small" data-speed="10" class="pages"> 
	<div class="title title-all">Your benefits</div>    
	</section>  

	<section id="white" class="contacts-white">
		<div class="text-block top-contacts">If you are looking for a for a Messi for your team <br>it is not 
		the right place. But if you are creating the team <br>of professionals 
		who has to play with Messi team and win the game, I`m definitely 
		the one who would do my best to make it happened. I can work hard
		for a result, and I want grate projects come true!</div>
		<div class="text-block top-contacts">
		And I`ts ok for me to have a little bit less salary than Messi :)</div>
	</section>

	<section id="contacts" data-type="background-small" data-speed="10" class="pages">
		<div class="title  title-contacts">Contact me</div>
		<footer>
			<ul>
				<li><a class="mail" id="mail" href="mailto:yaremenko.t.s@gmail.com">yaremenko.t.s@gmail.com</a></li> 
				<li class="behance"><a id="behance" href="https://www.behance.net/Taniacookie">Behance</a></li>
				<li class="facebook"><a id="facebook" href="https://www.facebook.com/tanya.yaremenko">Facebook</a></li>
				<li class="phone" id="phone">+38 063 721 13 54</li>
			</ul>
		</footer>
	</section>
</div>

<script type="text/javascript">
	linkScroll();
</script>